<div id="<%= dom_id question %>">
  <p>
    <strong>Quiz:</strong>
    <%= question.quizer_quiz %>
  </p>

  <p>
    <strong>Question type:</strong>
    <%= question.question_type %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= question.description %>
  </p>

</div>
