<p style="color: green"><%= notice %></p>

<h1>Questions</h1>

<div id="quizer_questions">
  <% @questions.each do |question| %>
    <%= render question %>
    <p>
      <%= link_to "Show this question", quizer_quiz_question_path(@quiz, question) %>
    </p>
  <% end %>
</div>

<%= link_to "New question", new_quizer_quiz_question_path(@quiz) %>
