p = link_to "< Back", quizer_quiz_questions_path(@quiz), class: 'btn btn-light btn-sm'

h2 New question
= form_with(model: [@quiz, @question], url: quizer_quiz_questions_path) do |form|
  = render "form", form: form, question: @question
