script src="https://www.paypal.com/sdk/js?client-id=#{ENV['PAYPAL_CLIENT_ID']}&currency=USD"

#content.col-lg-6.mx-auto.text-center
  p.lead
    | For only 5 dollars you extend your survey for 180 days
    br
    | and get all ads removed.

  p.lead Free surveys last for only 14 days.

  p.lead
    strong Pay $5 now and help us to keep the project!

  #paypal-button-container

javascript:
  paypal.Buttons({
    // Order is created on the server and the order id is returned
    createOrder() {
      return fetch("#{url_for quizer_quiz_payments_url(@quiz)}", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        // use the "body" param to optionally pass additional order information
        // like product skus and quantities
        body: JSON.stringify({
          cart: [
            {
              sku: "#{@quiz.owner_secret}"
            },
          ],
        }),
      })
      .then((response) => response.json())
      .then((order) => order.id);
    },
    // Finalize the transaction on the server after payer approval
    onApprove(data) {
      return fetch("#{url_for approve_quizer_quiz_payments_url(@quiz)}", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          orderID: data.orderID
        })
      })
      .then((response) => response.json())
      .then((orderData) => {
        const element = document.getElementById('content');
        element.innerHTML = "<h3>Thank you for your payment!</h3><a href='#{url_for @quiz}' class='btn btn-primary'>Go home</a>";
      });
    }
  }).render('#paypal-button-container');
